{% extends 'tailwind/base.html' %}

{% load static %}

{% block head %}
<title>Tickexe - Tickets to Exeter's Nightlife</title>
{{ block.super }}
{% endblock head %}

{% block body %}

<div class="flex flex-col min-h-screen bg-gray-100 py-5 px-3">
    {% for listing in listings %}
    <ul class="flex space-x-3">
        <li>{{ listing.user }}</li>
        <li>{{ listing.venue }}</li>
        <li>{{ listing.price }}</li>
        <li>{{ listing.description }}</li>
        <li><a href="{% url 'listing-detail' listing.id %}" class="underline">View</a></li>
        {% if listing.user == request.user %}
        <li><a href="{% url 'listing-update' listing.id %}" class="underline">Edit</a></li>
        <li><a href="{% url 'listing-delete' listing.id %}" class="underline">Delete</a></li>
        {% endif %}
    </ul>
    {% endfor %}
    <ul>
        <li><a href="/listings/create/" class="underline">Create</a></li>
    </ul>
</div>
{% endblock body %}